body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8C8DC;
}

.header_text {
  font-family: 'Nunito';
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  margin-bottom: 60px;
  text-align: center;
}

.btn-next {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}